{{- /*gotype: model.WebhookMessage*/ -}}
{
"msg_type": "interactive",
"card": {
"header": {
"title": {
"tag": "plain_text",
"content": "{{.Data.GroupLabels.alertname}} {{if filterByStatus .Data.Alerts "firing"}}[{{len (filterByStatus .Data.Alerts "firing")}}] Firing{{end}} {{if filterByStatus .Data.Alerts "resolved"}}[{{len (filterByStatus .Data.Alerts "resolved")}}] Resolved{{end}}"
},
"template": "{{if filterByStatus .Data.Alerts "firing"}}red{{else}}green{{end}}"
},
"elements": [
{{- define "alert-content" }}
{
"tag": "div",
"text": {
"tag": "lark_md",
"content": "**{{if .Resolved}}告警恢复 ✅{{else}}告警通知** 🚨{{end}}\n\n<概要>\n{{.Alert.Annotations.summary}}\n\n<详情>\n{{.Alert.Annotations.description | removeEmptyLines}}\n\n{{if .Alert.Annotations.severity}}<影响级别>\n{{.Alert.Annotations.severity}}{{end}}\n\n<{{if .Resolved}}恢复{{else}}告警{{end}}时间>\n⏰ {{if .Resolved}}{{.Alert.EndsAt.Format "2006-01-02 15:04:05"}}{{else}}{{.Alert.StartsAt.Format "2006-01-02 15:04:05"}}{{end}}{{if .Alert.GeneratorURL}}\n\n<监控链接>\n[查看详细监控信息]({{.Alert.GeneratorURL}}){{end}}"
}
},
{
"tag": "hr"
},
{{- end }}

{{range filterByStatus .Data.Alerts "firing"}}
{{- template "alert-content" (dict "Alert" . "Resolved" false) }}
{{- end }}

{{range filterByStatus .Data.Alerts "resolved"}}
{{- template "alert-content" (dict "Alert" . "Resolved" true) }}
{{- end }}

{
"tag": "note",
"elements": [
{
"tag": "lark_md",
"content": "**告警系统信息**\n- **外部链接**: {{.Data.ExternalURL}}\n- **接收者**: {{.Data.Receiver}}"
}
]
}
]
}
}